@model IEnumerable<PetMongodb.Models.Pet>

@{
    ViewData["Title"] = "Achados e Perdidos";
}
<section class="achados-perdidos">
    <h1 style="text-align:center;margin-bottom:50px;margin-top:25px;">Achados e Perdidos</h1>
    <div class="d-flex flex-wrap justify-content-start align-items-lg-start gap-4">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;text-align:center;">

                <h5 class="card-title fw-bold fs-3">@item.Situacao</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="@("/" + item.Imagem)" class="card-img-top" style="width:200px;height:200px;" alt="...">
                </div>
                <div class="card-body">

                    @if(item.Nome != null)
                    {
                        <p class="card-text fw-bold fs-5">@item.Nome</p>
                    }
                    else
                    {

                        <p class="card-text fw-bold fs-5">Nome não informado</p>
                    }
                    @if (item.Situacao == "Procurando Tutor")  
                    {  
                      <a class="btn btn-primary" asp-controller="Pets" asp-action="MudarSituacao" asp-route-id="@item.Id" asp-route-situacao="Encontrado">Sou o Tutor</a>  
                    }  
                    @if (item.Situacao == "Perdido")  
                    {  
                      <a class="btn btn-primary" asp-controller="Pets" asp-action="MudarSituacao" asp-route-id="@item.Id" asp-route-situacao="Encontrado">Encontrei o Pet</a>  
                    }


                    
            </div>
        </div>
    }
    </div>
</section>


