@model IEnumerable<Exercicio01.Models.Medico>

@{
    ViewData["Title"] = "Index";
}
<section>
    <h1 style="text-align:center;margin-bottom:50px;margin-top:25px;">Médicos Disponiveis</h1>
    <div class="d-flex flex-wrap justify-content-start align-items-lg-start gap-4">
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;text-align:center;">

        <h5 class="card-title fw-bold fs-3">@item.Especialidade</h5>
        <div class="card-body">

      
           <p class="card-text fw-bold fs-5">@item.Nome</p>


            <p class="card-text fw-bold fs-5">@Html.DisplayNameFor(model => model.CRM): @item.CRM</p>

            <p class="card-text fw-bold fs-5">@Html.DisplayNameFor(model => model.Telefone): @item.Telefone</p>


            <a class="btn btn-primary" asp-controller="Agendamentos" asp-action="Create" asp-route-IdMedico="@item.Id">Agendar</a>
      



        </div>
    </div>
}
</div>
</section>